* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

html {
	background-color: #E6E6E6;
	color: #010B27;
	font-family: 'Poppins', sans-serif;
}

@media screen and ( min-width: 850px ) {
	html {
		font-size: 1.125em;
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul{
	list-style: none;
	padding: 0;
}